{% extends 'base.html.twig' %}
{% block body %}


<form action="{{ path('app_task_update', { id: task.id }) }}" method="post" align=center>
    {{ form_start(task_form) }}

    {{ form_row(task_form.name, { required: true }) }}
    {{ form_row(task_form.description, { required: false, placeholder: '(optional)' }) }}
    {{ form_row(task_form.result, { required: false, placeholder: '(optional)' }) }}
    {{ form_row(task_form.date) }}
    {{ form_row(task_form.category) }}

    

    {{ form_end(task_form) }}
</form>

{% endblock %}